body {
    margin: 0;
    background-image: linear-gradient(45deg, blue, red);  
    background-size: cover;
    background-attachment: fixed; /*edit*/
    background-repeat: no-repeat;
    border: 10px solid;
    border-image: linear-gradient(45deg, rgb(0,0,150), rgb(150,0,0)) 10;
}

.Title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 20px;
    border: 10px solid;
    border-radius: 80px;
    column-gap: 50px;
}

.Title img  {
    width:200px;
    height: 150px;
    border: 10px solid;
    border-radius: 30px;
    padding: 10px;
}
.Title h1{
    text-align: center;
    padding: 20px;
    width: 150px; 
    border: 10px solid;     
    padding: 10px;
    border-radius: 20px;
}

.Project {
    margin: 20px;
    color: rgb(230, 230, 230);
    font-family: sans-serif;
    padding: 10px 40px 10px ;
    border:10px solid;
    border-radius: 70px;     
    
}

#intro {
    text-align: center;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    padding: 5px 20px 5px ;
    border:8px solid;
    border-radius: 30px;     
    font-weight: bold;
}
